.align-right {
	float: right;
}

#extra-info {
	display: none;
}

#status {
		
	margin-top: -30px !important;
	color: white;
}



#home #hero .cta {
	margin-top: 20px !important;
}

#home #hero {
	background-image: url("/images/competition.jpg");
}